.margin-bottom-25px{margin-bottom:25px;}
.light-green-color{color: #95D99B;}
.red-color{color:#ff0000}
.hint-text{
    color: #000;
    text-align:start;
    font-size: 0.8em;
    font-style: normal;
}

body{
    font-family: 'Roboto',sans-serif;
    background: url(mountain.jpg) no-repeat center center fixed;
    background-size: cover;
}
.main-section{
    margin:0 auto;
    margin-top:130px;
    padding: 0;
}
.modal-content{
    background-color: #3B4652;
    opacity: 0.85;
    padding:0 18px;
    box-shadow:0px 0px 3px #848484
}
.user-img {
    margin-top:-50px;
    margin-bottom:35px;
}
    .user-img img {
        height: 100px;
        width: 100px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px #848484
    }
.form-group {
    margin-bottom:25px;

}
    .form-group input {
        height:42px;
        border-radius:5px;
        border:0;
        font-size:18px;
        padding-left:54px;
    }
    .form-group::before {
        font-family:'Font Awesome\ 5 Free';
        content:"\f023";
        position:absolute;
        font-size:22px;
        color:#555e60;
        left:28px;
        padding-top:4px;
    }
    .form-group:last-of-type::before {
        content:"\f084";
    }
button {
    width:40%;
    margin:5px 0px 25px ;
}
.btn {
    background-color:#27c2a5;
    color:#fff;
    font-size:19px;
    padding:7px 14px;
    border-radius:5px;
    border-bottom:4px solid #219882;
}
.btn:hover,.btn:focus{
    background-color:#25a890;
    border-bottom:4px solid #25a890;
}










